body {
    background-attachment: fixed;
    background-image: url("../img/graphy.png");
    color: #4D5870;
    font-family:'Arimo', sans-serif;
    margin-top: 60px;
}
a {
    color: #8D936B;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Amaranth', sans-serif;
}
.navbar {
    border-bottom: 10px solid rgba(109, 107, 107, 0.35);
}
.thumbnail {
    background: none repeat scroll 0 0 rgba(174, 187, 200, 0.51);
}
.well {
    background: none repeat scroll 0 0 rgba(199, 219, 230, 0.21);
    border: 1px solid rgba(109, 107, 107, 0.36);
}
.carbon-texture {
    background-image: url("../img/carbon_fibre.png");
}
.jumbotron {
    background-color: rgba(135, 143, 201, 0.51);
    margin-bottom: 0;
    margin-top: 10px;
    padding-bottom: 148px;
    padding-top: 148px;
}
.jumbotron-container {
    background-attachment: fixed;
    background-image: url("http://farm8.staticflickr.com/7267/7653321668_99b11d4942_h.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom: 8px solid rgba(78, 77, 77, 0.92);
    z-index: 0;
}
.jumbotron-content {
    background: none repeat scroll 0 0 rgba(163, 164, 164, 0.68);
    border: 3px solid rgba(109, 107, 107, 0.69);
    border-radius: 4px;
    color:  rgba(13, 13, 55, 0.83);
    z-index: 10;
}
.carousel-row {
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-top: 0;
    background-color: #000;
    max-height: 400px;
    border-bottom: 8px solid rgba(78, 77, 77, 0.92);
}
.carousel-top-margin {
    margin-top: 55px;
}
.carousel-img {
    max-height: 392px;
    margin: auto;
}
.dark_fish_skinTexture {
    background-image: url("../img/dark_fish_skin.png");
}
.graphy-texture {
    background-image: url("../img/graphy.png");
}